body {
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.title-box {
  margin: auto;
  display: block;
  border: 1px solid gainsboro;
  text-align: center;
  padding: 0.775rem 0x;
  width: 740px;
  border-radius: 5px;
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  font-size: 2.875rem;
  min-height: 5rem;
}

.middle-section {
  justify-content: center;
  position: relative;
}

.input-wrap {
  display: flex;
}

.date-time-input {
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  border: 1px solid gainsboro;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.label-text {
  padding-top: 10px;
  color: #aab5b7;
  position: relative;
}

.errormsg {
  color: red;
  font-size: 12px;
}

.countdown-button {
  color: grey;
  font-weight: bold;
  background-color: #f7f7f7;
  display: block;
  margin: auto;
  border: none;
  padding: 12px 20px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
